@using GigHub.Core
@using GigHub.Core.ViewModels
@model GigsViewModel

<h1>@Model.Heading</h1>
@Html.AntiForgeryToken()

@using (Html.BeginForm("Search", "Gigs"))
{
    <div class="form-group">
        <div id="searchGigs" class="input-group">
            @Html.TextBoxFor(m => m.SearchTerm, new {@class = "form-control", placeholder="Search by artist, genre..." })
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>  
    </div>    
}

@foreach (var gig in Model.UpcomingGigs)
{
    <div class="col-lg-12 gigs">
        @Html.Partial("_upcomingGig", new GigViewModel
        {
            Attending = Model.Attendances.Contains(gig.Id),
            Gig = gig
        })
    </div>
}


@section scripts
{
    <script>
        $(document).ready(function() {
            GigsController.init(".gigs","@AppConst.GoingText","@AppConst.NotGoingYetText");
        })
    </script>
}
