@using GigHub.Core
@using GigHub.Core.ViewModels

@model ArtistsViewModel

@{
    ViewBag.Title = "Artists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="artists">
    <h2>Artists</h2>
    @foreach (var artist in Model.Artists)
    {
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="alert alert-info panel-heading">
                        @artist.Name 

                        @if (Request.IsAuthenticated)
                        {
                            <span>
                                <button
                                    data-user-id="@artist.Id"
                                    class="btn btn-sm js-toggle-follow
                                    @(Model.Followings.Contains(artist.Id) ? 
                                        "btn-info" : "btn-default")">

                                    @(Model.Followings.Contains(artist.Id) ? 
                                        AppConst.FollowingText : AppConst.UnfollowText)
                                </button>
                            </span> 
                        }
                    </div>
                    <div class="panel-body">
                        @artist.Description
                    </div>
                    <hr/>
                    <div class="container gigs">
                        @if (!Model.Gigs[artist.Id].Any())
                        {
                            <p class="highlight">No Coming Gigs</p>
                        }
                        else
                        {
                            <p class="highlight">Upcoming Gigs</p>

                            foreach (var gig in Model.Gigs[artist.Id])
                            {
                                 <div class="col-sm-4 voffset4">
                                     @Html.Partial("_upcomingGig",
                                        new GigViewModel
                                        {
                                            Attending = Model.Attendances.Contains(gig.Id),
                                            Gig = gig,
                                            ShowActions = Model.ShowActions
                                        })
                                 </div>
                             } 
                        }
                      
                    </div>
                </div>
            </div>
        </div>
    }
</div> 

@section scripts
{
    <script>
        $(document).ready(function () {

            GigsController.init(".gigs");
            FollowingController.init("#artists", "Following", "Follow");

            $(".panel").each(function() {
                ReadMoreOrLessController(this, $(this).find(".panel-body"));
            });
        })

    </script>
}



